* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  color: #fff;
  background-color: #414141;
}

.container {
  height: 100vh;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.384);
  padding: 10px; */
}
.inline {
  display: flex;
  align-items: center;
  gap: 10px;
}
input {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background: #212121;
  color: #fff;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #31c5ff;
  color: #fff;
}
.dataBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #212121;
  padding: 20px;
  border-radius: 20px;
}

.profileData {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.profile {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  border: 4px solid #31c5ff;
}

.profile img {
  border-radius: 100%;
  width: 100%;
}
.profile-name-side {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-name h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.profile-name a {
  color: #31c5ff;
  font-weight: 200;
  font-size: 12px;
}

.date p {
  font-size: 12px;
}

.bio {
  color: rgb(126, 122, 122);
  margin: 10px 0;
  font-weight: 600;
  width: 100%;
}

.followers-section {
  width: 100%;
  padding: 15px;
  background: #0f0f0f;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.minw {
  min-width: 33.3333333%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.minw p {
  margin: 0;
  font-size: 14px;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.flex {
  width: 45%;
  display: flex;
  gap: 5px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flex span a,
.flex span {
  color: #949393;
}
